/* styles/map.css */


.map {
  width: auto;
  height: 70vh;
  margin: 2.5vh;
}

h1 {
  font-size: 2rem;
  margin: 20px;
}

.MapContainer-all {
  border: #333 solid 1px;
  border-radius: 4px;
  margin: 20px auto;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: #333 0px 0px 10px;
  width: 100%;
  height: 85vh;
}

.MapContainer-content{
  position: relative;
}

.MapContainer-map{
  width: 100%;
  height: 60vh;
  position: absolute;
}

.MapContainer-titre{
  margin: 2.5vh 2.5vh 0 2.5vh;
}

.MapContainer-titre > h1{
  margin: 0;
}
/* Styles pour le sélecteur de type de réseau */

.container-select{
  position: absolute;
  z-index: 1000;
  right: 0;
  background-color: var(--background-color-light);
  border-radius: 4px;
  padding: 10px;
  margin: 40px;
  box-shadow: #333 0px 0px 10px;
  display: flex;
  align-items: center;
  width: 30%;
}

.selection {
  width: 30%;
  padding: 10px;
  margin-left: 15px;
  color: var(--text-color-light); 
  font-size: 1rem;
  border: 1px solid #ccc; 
  border-radius: 4px;
  background-color: #f9f9f9; 
}

option {
  color: var(--text-color-light); 
  background-color: #f9f9f9;
}

